.employer-page{
	align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;

}
.employer-page .employer-cell{
	margin: 0 .3em;
	flex: 1 1;
	flex-wrap: wrap;
    display: flex;
    padding: .7em;
    font-size: 1.4em;
}

.addempolyee{
	margin: 0 .3em;
	flex: 1 1;
	flex-wrap: wrap;
    display: flex;
    padding: .7em;
    font-size: 1.4em;
}

.employer-page .person{
	border: none;
    margin: 1.2em 1.1em;
    padding: 2em 1.5em;
}

.employer-welcome{
	width: 100%;
}

.employer-welcome .overlay{
	padding: .6em;
    font-size: 1.5em;
}

.employer-welcome img{
	width: 100%;
}

.employer-profile{
	display: flex;
	border-bottom: solid 1px;
}

.employer-info{
	align-self: center;
}

.employer-teamhead{
	margin-top: 4%;
    font-size: 2em;
}

.addUserForm{
	display: none;
	background: #00000069;
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 100%;
}

.userForm{
    background: #addfad;
    width: 50%;
    height: 50%;
    position: relative;
    top: 20%;
    margin: auto;
    border-radius: 0.5em;
}