.employer-page{
	align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;

    margin-top: 5%;
}
.employer-page .employer-cell{
	margin: 0 .3em;
	flex: 1 1;
	flex-wrap: wrap;
    justify-content: center;
    display: flex;
    padding: .7em;
}

.addempolyee{
	margin: 0 .3em;
	flex: 1 1;
	flex-wrap: wrap;
    display: flex;
    padding: .7em;
    font-size: 1.4em;
}

.employer-page .person{
    border: solid 1px white;
    padding: 3em 1.5em;
    margin: 2em;
}

.employer-welcome{
	width: 100%;
}

.employer-welcome .overlay{
	padding: .6em;
    font-size: 1.5em;
}

.employer-welcome img{
	width: 100%;
}

.employer-profile{
	display: flex;
	border-bottom: solid 1px;
}

.employer-info{
	align-self: center;
}

.employer-teamhead{
	margin-top: 4%;
    font-size: 2em;
}

.addUserForm{
	display: none;
	background: #00000069;
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 100%;
}

.userForm{
   background: #ffffff;
    width: 20%;
    position: relative;
    top: 20%;
    margin: auto;
    border-radius: 0.25em;
    color: #799371;
}


.container{
    margin: auto;
    width: 90%;
    display: flow-root;
    padding: 5% 0 0 0;
}

.textinput{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #ffffff;
}

#addtext{
    font: inherit;
    font-size: 2em;
    padding: 5%;
    color: #3d3536;
    border-bottom: solid 1px #ccc;
}

.closeAddMem {
    width: 25px !important;
    font-size: 1em;
    height: 25px;
    float: right;
    border-radius: 3%;
    padding-left: 1%;
    padding-top: 1%;
    border: none;
    background-color: #ffffff;
    border-radius: 0.25em;
    color: #3d3536;
    box-shadow: none;
}
.closeAddMem:hover {
    background-color: #addfad;
}


.AddMemberBtn {
    border: none;
    background-color: rgba(173, 223, 173, 0.57);
    color: #3d3536;
    box-shadow: none;
    width: 100%;
    padding: 15px;
    margin: 14px 0;
}

.AddMemberBtn:hover {
    background-color: #addfad;
}

@media only screen and (max-width: 1000px) {
    .userForm{
        background: #ffffff;
        width: 100%;
        position: relative;
        top: 20%;
        margin-top: 10%;
        border-radius: 0;
    }

}