.popup-close {
    width: 25px !important;
    font-size: 1em;
    height: 25px;
    float: right;
    border-radius: 3%;
    margin-top: 3%;
    margin-right: 3%;
    padding-left: 2.5%;
    padding-top: 1%;
    border: none;
    background-color: rgb(102, 179, 255);
    color: aliceblue;
    box-shadow: none;
}

.popup{
    width: 14em;
    border: .1em solid #aa9fcc;
    background: aliceblue;
    border-radius: 3%;
    font-family: sans-serif;
}

.popup-paragraph{
    margin: 5% 5% 5%;
    font-size: .7em;
    padding-left: 5%;
    padding-top: 12%;
    text-align: left;
}

.popup-title{
    margin: 3% 0 0 8%;
    float: left;
    width: 70%;
    text-indent: 0%;
    background: rgba(57, 177, 252, 0.19);
    font-size: .9em;
    border-radius: 3%;
    padding: 2%;
    text-align: center;
}

.popup-save{
    border: none;
    background-color: rgb(102, 179, 255);
    color: aliceblue;
    box-shadow: none;
    margin-bottom: 3%;
    width: 89%;
    font-size: .9em;
    border-radius: 3%;
    margin-left: 8%;
    margin-right: 3%;
}
