.popup-close {
    width: 25px !important;
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 1em;
    height: 25px;
    float: right;
    border-radius: 3%;
    padding-left: 2.5%;
    padding-top: 1%;
    background-color: #7b95b7;
    border:none;
    color: black;
    box-shadow: none;
    font-family: "Roboto", sans-serif;
    margin-right: 5px;
}

.popup-close:hover{
    background-color: white;
    color:aliceblue;
}

.popup{
    width: 14em;
    border:none;
    background: white;
    color: black;
    font-family: "Roboto", sans-serif;
    font: message-box;

}

.popup-paragraph{
    margin: 5% 5% 5% 0;
    font-size: .7em;
    padding-left: 5%;
    text-align: left;
}

.popup-title{
    float: left;
    width: 100%;
    text-indent: 0%;
    background-color: #7b95b7;
    color: whitesmoke;
    font-size: .9em;
    border-bottom: black solid 1px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.popup-save{
    border: none;
    background-color: rgba(123, 149, 183, 0.41);
    color: #3d3536;
    box-shadow: none;
    width: 100%;
    padding: 15px;
}

.popup-save:hover{
    background-color: #7b95b7;
}


.popup b{
    font-weight: bold;
}

span.saved-flight{
    background: rgba(121, 147, 113, 0.74);
    /* padding: .1em 1em; */
    width: 100%;
    font-size: 1.5em;
    color: #201717;
    text-align: center;
    font-family: serif;
    float: left;
    transition: 1s all;
    /* margin: 1em 0 0 1em; */
}
